@import 'variables';
@import 'mixins';

@import 'blocks/page-header';
@import 'blocks/main-nav';
@import 'blocks/page-content';
@import 'blocks/page-footer';
@import 'blocks/intro';
@import 'blocks/download-info';
@import 'blocks/features';
@import 'blocks/reviews';
@import 'blocks/pricing';
@import 'blocks/footer-map';
@import 'blocks/social-links';
@import 'blocks/contest-form';
@import 'blocks/users-gallery';
@import 'blocks/photos-item';
@import 'blocks/user-interface';
@import 'blocks/range-controls';
@import 'blocks/contacts';
@import 'blocks/btn';

@font-face {
  font-weight: 300;
  font-family: 'Open Sans';
  font-style: normal;

  src: url('../fonts/opensanslight.woff') format('woff'),
  url('../fonts/opensanslight.woff2') format('woff2');
}

@font-face {
  font-weight: normal;
  font-family: 'Open Sans';
  font-style: normal;

  src: url('../fonts/opensans.woff') format('woff'),
  url('../fonts/opensans.woff2') format('woff2');
}

@font-face {
  font-weight: 700;
  font-family: 'Open Sans';
  font-style: normal;

  src: url('../fonts/opensansbold.woff') format('woff'),
  url('../fonts/opensansbold.woff2') format('woff2');
}

body {
  margin: 0;
  padding: 0;

  font-size: 14px;
  line-height: 24px;
  font-family: 'Open Sans', 'Arial', sans-serif;
  color: $body-font;
  font-style: normal;

  background-color: #FFFFFF;
}

