.intro {
  outline: 2px dotted yellow;
  min-height: 458px;
  position: relative;
  top: -66px;
  padding-top: 66px;

  @media ($tablet-width) {
    min-height: 614px;
    top: -110px;
    padding-top: 110px;
  }

  @media ($desktop-width) {
    min-height: 752px;
    top: -110px;
    padding-top: 110px;
  }
}
