.main-nav {
  outline: 2px dotted red;
  float: right;

  &__items {
    @include no-list;
  }

  &__item {
    display: none;
    padding-right: 20px;
    font-size: 18px;
    line-height: 32px;
    text-transform: uppercase;
  }
}
