.page-header {
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.3);

  @media ($tablet-width) {
    padding-top: 27px;
    padding-bottom: 42px;
  }


  &__wrapper {
    @include container-fluid;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    flex-basis: 80px;
    flex-grow: 1;

    font-size: 0;
    background: url(../../img/logo-pink-white-mobile.svg) no-repeat;

    @media ($tablet-width) {
      width: 150px;
      height: 42px;
      background: url(../../img/logo-pink-white-mobile.svg) no-repeat;
    }

    @media ($desktop-width) {
      width: 148px;
      height: 42px;
      background: url(../../img/logo-pink-blue-mobile.svg) no-repeat;
    }
  }
}
