.social-links {
  @include no-list;
  width: 175px;
  font-size: 0;

  @media ($mobile-width-only) {
    margin: 0 auto;
    margin-bottom: 35px;
  }

  &__item {
    display: inline-block;
    vertical-align: baseline;
    width: 50px;
    height: 50px;
    margin-right: 11px;
  }

  &__item:last-child {
    margin-right: 0;
  }

  &__link svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    width: 18px;
    height: 18px;
  }

  &__link--yt svg {
    transform: translate(-40%,-50%);
  }

  &__link {
    position: relative;
    display: block;
    width: 45px;
    height: 45px;
    border: 3px solid $middle-grey;
    border-radius: 50%;
  }

  &__link:hover {
    border: 3px solid black;
  }

  &__link:active {
    opacity: 0.3;
  }
}
